<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="project.b">

    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.CALL_PHONE" />

    <supports-screens
        android:anyDensity="true"
        android:largeScreens="true"
        android:normalScreens="true"
        android:resizeable="true"
        android:smallScreens="true"
        android:xlargeScreens="true" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:screenOrientation="portrait"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".FAQ_activity"></activity>
        <activity android:name=".Email_activity" />
        <activity android:name=".StudyInfo_activity" />
        <!--
         FOR WATCH USE (WILL BREAK THE PHONE VERSION SO BE CAREFUL)
        <uses-library
            android:name="com.google.android.wearable"
            android:required="false" />
        <meta-data
            android:name="com.google.android.wearable.standalone"
            android:value="false" />
        -->
        <activity android:name=".MyOpenDays_activity" />
        <activity android:name=".LatestNews_activity" />
        <activity android:name=".checkForOpenDays_activity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>